[mysqld]
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
transaction_isolation = READ-COMMITTED
max_connections = 200
innodb_buffer_pool_size = 256M
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
